@import "dropdown.css";

/* -- All Basic Styles Of Theme -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: #27b0ff;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:focus,
a:active {
    outline: none !important;
    box-shadow: none !important;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 17px;
    color: #282b30;
    line-height: 1.8;
}

p:last-child {
    margin-bottom: 0;
}

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    list-style-type: none;
}

label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #e4be1a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: .2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}

/* -- Headings Styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* -- Added Other Created Styles  -- */

.col-count-2 {
    column-count: 2;
}

.col-right {
    order: -1;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.btn-uni {
    background-color: #162a64;
    color: #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 24px;
}

.btn-white {
    background-color: #ffffff;
    color: #162a64;
    font-weight: 600;
}

.header-content .btn:last-child {
    margin: 0;
}

.checked {
    background-image:  url("../images/tick.png");
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 15px;
}


/* -- Container Styles -- */

.container {
    max-width: 1230px;
}

.navbar-expand-lg>.container,
.navbar-expand-lg>.container-fluid {
    padding: 0 15px;
}

/* -- Theme Header Styles -- */

.site-header {
    background-image: url("../images/enquiry.jpg");
}


/* -- Main Navigation Styles -- */

.main-navigation {
    padding: 15px 0;
    z-index: 9;
    background-color: transparent !important;
}

.main-navigation.fixed {
    position: fixed;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 9;
    transition: all 0.3s;
}

.main-navigation.fixed {
    top: -70px;
    transform: translate3d(0, 70px, 0);
}

.navbar-brand {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.nav-search .navbar-nav {
    margin: auto;
}

.main-navigation .menu-item{
    margin: 0 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 0;
}

.current-menu-item .nav-link {
    border-bottom: 1px solid #ffffff;
}

/* -- Header Content Styles -- */

.header-content {
    padding:  150px 0;
    position: relative;
}

.header-content:before {
    content: '';
    width: 100%;
    height: 9px;
    background-color: #ffffff;
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
}

.header-content .container {
    max-width: 740px;
}

.header-heading {
    font-size: 76px;
    font-weight: 900;
    color: #ffffff;
}

.header-heading span {
    font-size: 62px;
    display: block;
}

.header-content p{
    color: #ffffff;
    margin: 28px 0 36px;
}

.header-content .btn {
    margin-right: 10px;
}

/* -- Section Styles -- */

section {
    padding: 100px 0;
}

.section-heading {
    font-size: 42px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 28px;
}

.clr-blk {
    color: #29363d;
}

.clr-blu {
    color: #162a64;
}

.clr-light {
    color: #6a7082;
}

.bg-clr-white {
    background-color:  #ffffff;
}

.bg-clr-grey {
    background-color: #f8f8f8;
}

.bg-clr-blu {
    background-color: #162a64;
}

.sec-bg-clr {
    background-color: #e5e5ee;
}

.section-sub-heading {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    margin: 20px 0 0;
}

.underline {
    position: relative;
    display: inline-block;
    padding: 0 0 10px;
}

.underline.bg-clr-blu {
    padding: 10px 0 0;
}

.underline:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 3px;
    left: 3px;
    height: 4px;
    background-color: #29363d;
}

.sec-image-thumbnail {
    width: 430px;
    max-width: 100%;
}

.thumbnail-right {
    display: block;
    margin-left: auto;
}

.list-check {
    padding-left: 28px;
}

.list-check li,
.list-check li a {
    color: #132557;
    margin-bottom: 10px;
    text-indent: -28px;
}

section .btn {
    font-size: 18px;
    font-weight: 500;
    margin-top: 28px;
    padding: 15px 36px;
}

/* -- Section Facilities Styles -- */

.section-facilities {
    padding: 100px 0 0;
}

.section-facilities .section-heading {
    font-size: 52px;
    font-weight: 700;
    text-transform: none;
}

.section-facilities .section-heading span {
    font-size: 70px;
    font-weight: 800;
}

.section-facilities ul {
    margin: 0;
    padding-left: 22px;
}

.section-facilities li {
    margin: 0 25px 15px 0;
    text-indent: -11px;
}

.section-facilities i {
    color: #62617e;
    margin-right: 7px;
}

/* -- Section Features Styles -- */

.section-features {
    box-shadow: 0 0 40px rgba(27, 27, 41, 0.1);
}

.section-features .section-heading {
    font-size: 52px;
}

.section-features .row {
    margin: 100px -8px 0;
}

.section-features .col-center {
    transform: scale(1.08);
    z-index: 9;
}

.section-features .column {
    padding: 0 8px;
}

.section-features .d-flex {
    box-shadow: -5px -5px 25px rgba(144,144,152,.15);
    padding: 40px;
    transition: .2s;
}

.section-features h3 {
    font-size: 16px;
    font-weight: 600;
    color: #3b3f4a;
    text-transform: uppercase;
    line-height: 1.5;
}

.section-features .column p {
    font-size: 15px;
    color: #3b3f4a;
}

.section-features .column span {
    width: 140px;;
}

.section-features i {
    font-size: 36px;
    color: #3a9fc9;
}

.section-features .d-flex:hover {
    background-color: #162a64;
}

.section-features .d-flex:hover h3,
.section-features .d-flex:hover p,
.section-features .d-flex:hover  i {
    color: #ffffff;
}

/* -- Section Demo Import Styles -- */

.section-demo-import {
    overflow: hidden;
}

.section-demo-import .underline:before{
    background-color: #162a64;
    top: -10px;
    bottom: unset;
}

.section-demo-import .container {
    max-width: 1565px;
    margin-right: 0;
    padding-right: 0;
}

.section-demo-import .section-sub-heading {
    max-width: 580px;
    font-weight: 400;
}
.section-demo-import .row {
    margin: 0 -11px;
}

.section-demo-import .column {
    padding: 0 11px;
    margin-bottom: 22px;
}

/* -- Section Review Styles --*/

.section-review h2 {
    font-size: 65px;
    font-weight: 100;
    color: #ffffff;
}

.section-review .content-wrap {
    position: relative;
    padding-top: 80px;
}

.section-review .thumbnail-right {
    max-width: 100%;
    width: 670px;
}

.slide-content {
    position: absolute;
    top: 0;
    left: 150px;
    width: 580px;
    max-width: 100%;
    padding: 50px 70px 60px;
}

.slick-list {
    overflow: hidden;
}

.slick-slide {
    float: left;
}

.slick-arrow {
    display: none !important;
}

.rev-slide {
    margin-top: 20px;
}

.rev-slide img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,.4);
}

.rev-slide p {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    margin: 28px 0 0;
}

.rev-slide p span {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    margin: 22px 0 0;
}

.slick-dots {
    margin: 10px 0 0;
}

.slick-dots li {
    font-size: 0;
    display: inline-block;
    margin-right: 7px;
}

.slick-dots button {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #5a78cc;
    border: none;
    outline: none;
    padding: 0;
}

.slick-dots .slick-active button {
    background: #ffffff;
}